<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Add book</title>
</head>
<body>
    <h2>New Book</h2>
    <div class="mb-3">
        <form action="/add_book" method="POST">
            <label class="form-label">Book Name</label>
            <input type="text" class="form-control" name="book">
            <label class="form-label"># of pages</label>
            <input type="text" class="form-control" name="pages">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <div>
        <h2>books</h2>
        <div>
            <ul>
                {% for i in all_books %}
                    <li><a href="http://127.0.0.1:5000//bookpage/{{i.id}}">{{i.tittle}}</a></li>
                        <ul><li>{{i.num_of_pages}} pages</li></ul>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="http://127.0.0.1:5000/">Authors</a>
</body>
</html>