<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
{% for i in user: %}
    <title>{{i.name}}'s Favorites</title>
{% endfor %}
</head>
<body>
    {% for i in user: %}
        <h2>{{i.name}}'s Favorites</h2>
    {% endfor %}
    <ul>
        {% for i in all_faves %}
            <li>{{i.tittle}}</li>
        {% endfor %}
    </ul>
        <p>this is {{id}}</p>
        <form action="/addbook/{{id}}" method="POST">
            <select class="form-select" aria-label="Default select example" name="book_id">
                    {% for i in unfaves: %}
                        <option value="{{i.id}}">{{i.tittle}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add Fave</button>
            </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>